<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('.static', filename='style/style.css') }}" type="text/css" media="screen, projection">
    <title>Azulejo</title>
</head>

<body>

<div id='container'>

    <div id='titulo'>
    <img src='{{ url_for('.static', filename='logo.png') }}'>
        <h1>ohhh, ¡Azulejo!</h1>
        <br style='clear: both'/>
    </div>

<div id='content'>
        
<h1>Azulejo está aqui...</h1>

<p>¿Cansado de lidiar con ventanas?, ¿Perdiste el mouse otra vez?. 

<p>Azulejo está aquí para salvarte de las estúpidas ventanas. Porque está pensado para que puedas usar el teclado.


</div>

    <div id='footer'>
    </div>

</div>

</body>
</html>

